.main
    margin-top: 50px
    margin-bottom: 144px
    display: flex
    justify-content: center
    flex-direction: column
    min-height: 600px
    text-align: left

    h1, h3
        text-align: left
        color: #fff

    h1
        font-weight: 700
        font-size: 82px
        line-height: 1em
        margin-bottom: 18px

    h3
        color: #95a2b3
        padding-left: 2px
        font-size: 1.5rem
        margin: 0

    .download-group
        display: flex
        padding-top: 45px
        max-width: 80%

        button
            margin-right: 20px

        span
            color: #95a2b3
            align-self: center
            text-align: left
            font-size: 15px

            strong
                color: #afbac7

    .row
        justify-content: space-between
        padding: 56px 0

        .content
            text-align: left
            padding-left: 0 !important

        div.content-image
            display: flex
            justify-content: flex-end
            svg, img
                width: 100%
                height: auto
                margin-top: -50px
                filter: drop-shadow( 0px 12px 15px rgba(0, 0, 0, .2))

                &.phone
                    max-width: 265px

.socials
    position: absolute
    bottom: 5px
    right: 5px
    display: flex
    padding: 1rem

    .icon
        cursor: pointer
        position: relative
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        border-radius: 50%
        margin: 5px
        line-height: 90px
        width: 40px
        height: 40px
        background-color: #fff
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, .1)
        transition: all .2s ease

        &:hover
            transform: translateY(-2px)

        svg
            transition: .3s
            color: var(--color-secondary)
            height: 21px
            width: 21px
            z-index: 25

.widget_wrapper
    padding: .5em

    .widget
        background-color: hsla(0,0%,100%,.05)
        max-height: 522px
        min-height: 300px
        height: 100%
        border-radius: 24px
        color: var(--font-light)
        backdrop-filter: saturate(200%) blur(10px) brightness(100%)

        .widget__inner
            text-align: center
            padding: 24px
            height: 100%

            .widget__head
                display: flex
                justify-content: center
                align-items: center
                align-self: center
                text-align: center
                // border-bottom: .5px solid var(--color-primary)

                img
                    min-height: 72px
                    max-height: 72px
                    margin: 20px 20px 12px
                    width: auto
                    display: block

            .widget__body
                text-align: center
                display: block

                h4
                    color: #fff
                    font-weight: bold
                    font-size: 24px
                    line-height: 27px´
                    margin-bottom: 6px

                p
                    font-size: 16px
                    line-height: 24px
                    font-weight: 500
                    color: #eeeeee
