@import "./_var"
@import "./_assets"

body
    background-color: var(--color-tertiary)
    color: #fff
    font-family: "Inter", sans-serif
    font-weight: 500

.container_2
    width: 100%
    max-width: 1296px
    margin-top: 50px
    margin-left: auto
    margin-right: auto
    padding: 0
    padding-right: 24px
    padding-left: 24px