:root {
  --color-primary: #007AFF;
  --color-primary-alt: #2790ff;
  --color-secondary: #FF7A45;
  --color-secondary-alt: #ffbea0;
  --color-tertiary: #12141d;
  --color-tertiary-alt: #181c2e;
  --font: #323232;
  --font-light: #f8f8f8;
  --font-dark: #666;
  --background: #fff;
  --background-dark: #191919;
  --aside-toggle: #191919;
  --aside-background: #fff;
  --aside-border: #efefef;
  --aside-item-active: #efefef;
}

footer {
  background-color: #1E2833;
}

.nav-holder {
  display: block;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 114;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  -webkit-backdrop-filter: saturate(200%) blur(10px) brightness(100%);
          backdrop-filter: saturate(200%) blur(10px) brightness(100%);
  background-color: rgba(14, 18, 25, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-holder .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 75px;
  margin-top: 0;
}

.nav-holder .nav-wrapper a.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.nav-holder .nav-wrapper a.logo img {
  height: 72px;
  width: 72px;
}

.nav-holder .nav-wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-group button:first-child {
  margin-right: 5px;
}

.button-group button:last-child {
  margin-left: 5px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f800;
  -webkit-box-shadow: 0 3px 20px -2.5px rgba(0, 132, 255, 0.4);
          box-shadow: 0 3px 20px -2.5px rgba(0, 132, 255, 0.4);
  border-radius: 14px;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  line-height: 21.6px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 15px 30px;
}

.btn:hover {
  color: #fff;
  -webkit-transform: translateY(-1.5px);
          transform: translateY(-1.5px);
}

.btn.primary {
  background-color: var(--color-primary);
}

.btn.light {
  color: var(--color-primary);
  background-color: var(--font-light);
}

div.hr {
  border: .5px solid #1e2029;
  min-width: 100%;
  margin-top: 76px;
  margin-bottom: 74px;
}

body {
  background-color: var(--color-tertiary);
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.container_2 {
  width: 100%;
  max-width: 1296px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-right: 24px;
  padding-left: 24px;
}

.main {
  margin-top: 100px;
  margin-bottom: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 600px;
  text-align: left;
}

.main h1, .main h3 {
  text-align: left;
  color: #fff;
}

.main h1 {
  font-weight: 700;
  font-size: 82px;
  line-height: 1em;
  margin-bottom: 18px;
}

.main h3 {
  color: #95a2b3;
  padding-left: 2px;
  font-size: 1.5rem;
}

.main .download-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 45px;
  max-width: 80%;
}

.main .download-group button {
  margin-right: 20px;
}

.main .download-group span {
  color: #95a2b3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
}

.main .download-group span strong {
  color: #afbac7;
}

.main .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 56px 0;
}

.main .row .content {
  text-align: left;
  padding-left: 0 !important;
}

.main .row div.content-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .row div.content-image svg, .main .row div.content-image img {
  width: 100%;
  height: auto;
  margin-top: -50px;
  -webkit-filter: drop-shadow(0px 12px 15px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 12px 15px rgba(0, 0, 0, 0.2));
}

.main .row div.content-image svg.phone, .main .row div.content-image img.phone {
  max-width: 265px;
}

.socials {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.socials .icon {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border-radius: 50%;
  margin: 5px;
  line-height: 90px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.socials .icon:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.socials .icon svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: var(--color-secondary);
  height: 21px;
  width: 21px;
  z-index: 25;
}

.widget {
  background-color: rgba(37, 37, 37, 0.6);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  min-height: 110px;
  border-radius: 12px;
}
/*# sourceMappingURL=main.css.map */