:root {
  --main-color: rgb(69, 202, 255);
  --main-color-deeper: rgba(0, 170, 238, 1);
  --main-color-deep: #187094;
  --main-color-dark: #1C6785;
  --secondary-color: #66c37c;
  --font: #323232;
  --font-dark: #666;
  --background: #fff;
  --aside-toggle: #191919;
  --aside-background: #fff;
  --aside-border: #efefef;
  --aside-item-active: #efefef;
  --aside-accordion-button: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23666'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.btn-primary,
.btn-secondary,
.btn-white,
.btn-dark {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-family: 'Gordita', sans-serif;
  font-weight: 500;
  border-radius: 3px;
  padding: 7px 18px;
  border: none;
}

.btn-primary:focus,
.btn-secondary:focus,
.btn-white:focus,
.btn-dark:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-primary {
  background-color: var(--main-color);
  color: #fff;
  border: 2px solid var(--main-color);
}

.btn-primary:hover {
  background-color: #fff;
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn-primary:focus {
  border: 2px solid var(--main-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.btn-secondary:hover {
  color: var(--secondary-color);
  background-color: #fff;
}

.btn-white {
  background-color: #fff;
}

.btn-white:hover {
  background-color: #e2cfcf;
}

.btn-dark {
  background-color: #191919;
  color: #fff;
}

.btn-dark:hover {
  background-color: #3c3e41;
}

.text-success {
  color: #42d697 !important;
}

body.show-sidebar .nav-backdrop {
  opacity: 1;
  z-index: 1050;
}

body.show-sidebar aside.sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 10px 0 30px 0 rgba(7, 6, 6, 0.1);
          box-shadow: 10px 0 30px 0 rgba(7, 6, 6, 0.1);
}

body.show-sidebar:before {
  opacity: 1;
  visibility: visible;
}

body.show-sidebar:not(.touch) {
  padding-right: var(--navbar-width);
}

.navbar {
  z-index: 1650;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: #fff;
  padding-top: .5rem;
  padding-bottom: .5rem;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #fff;
  height: 60px;
  max-height: 60px;
  border-bottom: 1px solid #ebebeb;
}

.navbar .nav-wrapper {
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 15px;
  width: 100%;
}

.navbar .nav-wrapper .menu-toggle {
  position: relative;
  -webkit-transition: .4s ease !important;
  transition: .4s ease !important;
  cursor: pointer;
  height: 18px;
  width: 22px;
}

.navbar .nav-wrapper .menu-toggle.open span:first-child, .navbar .nav-wrapper .menu-toggle.open span:last-child {
  -webkit-transition: top .2s;
  transition: top .2s;
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
  top: 6px;
  opacity: 0;
}

.navbar .nav-wrapper .menu-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .nav-wrapper .menu-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar .nav-wrapper .menu-toggle span {
  -webkit-transition: .2s ease;
  transition: .2s ease;
  display: block;
  position: absolute;
  height: 3px;
  border-radius: .1rem;
  background-color: var(--font);
  opacity: 1;
  width: 100%;
}

.navbar .nav-wrapper .menu-toggle span:first-child {
  top: 0;
}

.navbar .nav-wrapper .menu-toggle span:nth-child(2), .navbar .nav-wrapper .menu-toggle span:nth-child(3) {
  top: 7px;
}

.navbar .nav-wrapper .menu-toggle span:last-child {
  top: 14px;
}

.navbar .nav-wrapper .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Plain', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-wrapper .get {
  text-decoration: none;
}

@media (max-width: 310.98px) {
  .navbar .nav-wrapper .get {
    display: none;
  }
}

.nav-backdrop {
  -webkit-transition: .2s;
  transition: .2s;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
}

aside.sidebar {
  height: 100vh;
  min-height: 580px;
  width: 300px;
  right: 0;
  top: 60px;
  z-index: 1500;
  position: fixed;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: var(--aside-background);
  -webkit-transition: 0.5s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s transform cubic-bezier(0.23, 1, 0.32, 1);
  transition: 0.5s transform cubic-bezier(0.23, 1, 0.32, 1), 0.5s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
}

@media (max-width: 575.98px) {
  aside.sidebar {
    width: 100%;
  }
}

aside.sidebar.show-sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
}

aside.sidebar .side-inner::-webkit-scrollbar {
  display: none;
  padding: 50px 0;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@media (max-height: 580px) {
  aside.sidebar .side-inner {
    padding-bottom: 0;
  }
}

aside.sidebar .nav-menu ul {
  padding: 12px 0;
  margin: 0;
}

aside.sidebar .nav-menu ul li {
  padding: 0;
  margin: 0px;
  list-style: none;
}

aside.sidebar .nav-menu ul li a {
  text-decoration: none;
  display: block;
  padding: 0 1em;
  height: 45px;
  color: #8b8b8b;
  position: relative;
  -webkit-transition: .3s padding-left ease;
  transition: .3s padding-left ease;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1em;
}

aside.sidebar .nav-menu ul li a svg {
  height: 18px;
  width: 18px;
  margin-right: 0.4em;
}

aside.sidebar .nav-menu ul li:active, aside.sidebar .nav-menu ul li:focus, aside.sidebar .nav-menu ul li:hover {
  outline: none;
}

aside.sidebar .nav-menu ul li:hover {
  background: var(--aside-item-active);
  color: #8b8b8b;
}

aside.sidebar .nav-menu ul li:hover:before {
  width: 4px;
  opacity: 1;
  visibility: visible;
}

aside.sidebar .nav-menu ul li.active a {
  background: var(--aside-item-active);
  color: var(--main-color);
}
/*# sourceMappingURL=main.css.map */